.carrusel_de_marcas img{
width: 50%;

}

.Catalogo_celulares .card-body{
    
    background-color: rgb(227, 227, 227);
    border-color: black;
    border-width: 50%;
    width: 100%;
    border-radius: 10%;
}
.Catalogo_celulares{


}
.collapse_celulares{
border-radius: -50%;
}

.btn-icono {
    width: 50%;
        background-color: #7EB315;
    border: solid 3px #7EB315;
    }
    
    .btn-icono:hover {
    background-color: white;
    border: solid 3px #7EB315;
    color: #7EB315;
    }
.card{
margin-left: 1%;

}


.btn-icono-comprar {
    width: 20%;
    background-color: #7EB315;
    border: solid 3px #7EB315;
    }
    
    .btn-icono-comprar:hover {
    background-color: white;
    border: solid 3px #7EB315;
    color: #7EB315;
    }









