#fotocarucel{
    width: auto;
    height: 350px;
}
.navbar-dark .nav-link {
    color: white;
    
}
.navbar-height {
    height: 3.5vh;
}
.navbar-custom .navbar-nav {
    margin: auto;
}
.btn-is {
    background-color: #7EB315;
}
@media (max-width: 576px) {
    .navbar-custom {
        height: auto;
    }
    .navbar-custom .navbar-nav {
        margin: 0;
    }
    .navbar-height {
    height: 10%;
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }
    .buscar-producto {
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-is {
        width: 91%;
        background-color: #7EB315;
    }
}

@media (max-width: 992px) {
    .navbar-custom {
        height: auto;
    }
    .navbar-custom .navbar-nav {
        margin: 0;
    }
    .navbar-height {
        height: 10%;
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }
    .buscar-producto {
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-is {
        width: 91%;
        background-color: #7EB315;
    }
}
.custom-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.telefonia-button {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-icono {
width: 50%;
height: 60px;
background-color: #7EB315;
border: solid 3px #7EB315;
}

.btn-icono:hover {
background-color: white;
border: solid 3px #7EB315;
color: #7EB315;
}

hr
{
    border: none;
    border-top: solid 3px #404740;
}
.img-s{
    
    height: 300px;

}

#fotocarucel{
    width: auto;
    height: 350px;
}

.navbar-dark .nav-link {
    color: white;
    
}
.navbar-height {
    height: 3.5vh;
}
.navbar-custom .navbar-nav {
    margin: auto;
}
.btn-is {
    background-color: #7EB315;
}
@media (max-width: 576px) {
    .navbar-custom {
        height: auto;
    }
    .navbar-custom .navbar-nav {
        margin: 0;
    }
    .navbar-height {
    height: 10%;
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }
    .buscar-producto {
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-is {
        width: 91%;
        background-color: #7EB315;
    }
}

@media (max-width: 992px) {
    .navbar-custom {
        height: auto;
    }
    .navbar-custom .navbar-nav {
        margin: 0;
    }
    .navbar-height {
        height: 10%;
    }
    .navbar-collapse {
        flex-direction: column;
        align-items: center;
    }
    .buscar-producto {
        margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
    }
    .btn-is {
        width: 91%;
        background-color: #7EB315;
    }
}

        .navbar-dark .nav-link {
            color: white;
        }
        .navbar-height {
            height: 3.5vh;
        }
        .navbar-custom .navbar-nav {
            margin: auto;
        }

        
        @media (max-width: 576px) {
            .navbar-custom {
                height: auto;
            }

            .navbar-custom .navbar-nav {
                margin: 0;
            }
            .navbar-height {
            height: 10%;
            }
            .navbar-collapse {
                flex-direction: column;
                align-items: center;
            }
            .buscar-producto {
                margin-top: 15px;
                margin-bottom: 10px;
                width: 100%;
            }
            .btn-is {
                width: 91%;
            }
        }
    

.custom-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.custom-img{    
    transition: 0.25s;
}
.custom-img:hover{
    transform: scale(1.05);
    transition: 0.25s;
}
.telefonia-button {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-icono {
width: 50%;
height: 60px;
background-color: #7EB315;
border: solid 3px #7EB315;
align-items: center;
justify-content: center;
}

/*Hover del botón*/
.btn-icono:hover {
background-color: white;
border: solid 3px #7EB315;
color: #7EB315;
}

/*Hover del icono*/
.btn-icono:hover .icono1{
    display: none;
    transition: 0.5;
}

/*Hover de la variante del icono*/
.btn-icono .icono2{
    display: none;
    transition: 0.5;
}
.btn-icono:hover .icono2{
    display: inline;
    transition: 0.5;
}

hr
{
    border: none;
    border-top: solid 3px #404740;
}

/*Titulo del inicio*/
.titulo-main{
font-size: 80px;
transition: 0.25s;
}
.titulo-main:hover{
transform: scale(1.05);
transition: 0.25s;
}